{
    "arrowParens": "avoid",
    "singleQuote": true,
    "plugins": [
      "@prettier/plugin-pug",
      "prettier-plugin-pkg"
    ],
    "overrides": [
      {
        "files": [".changeset/**/*", "CHANGELOG.md"],
        "options": {
          "singleQuote": false
        }
      }
    ]
  }